*{
    -fx-spacing: 20;
    -fx-alignment: center;
    -fx-color: white;
}

.button {
    -fx-font-weight: bold;
    -fx-font-size: 17pt;
    -fx-weight: 50px;
    -fx-height: 50px;
    -fx-border-color: #000000;
    -fx-border-width: 2;
}

#linhaCalculo {
    -fx-min-width: 300;
    -fx-min-height: 100px;
    -fx-background-color: #dcecd2;
    -fx-font-size: 50pt;
}

#numeros {
    -fx-padding: 10px;
    -fx-border-color: #000000;
    -fx-border-width: 2;
}
#operadores {
    -fx-padding: 10px;
    -fx-border-color: #000000;
    -fx-border-width: 2;
}
